# Database
DB_NAME=ttliga
DB_USER=ttliga
DB_PASSWORD=PROMENI_OVO_LOZINKA

# Django
SECRET_KEY=PROMENI_OVO_RANDOM_STRING
ALLOWED_HOSTS=ttliga.example.com,www.ttliga.example.com
CORS_ALLOWED_ORIGINS=http://ttliga.example.com,https://ttliga.example.com

# Frontend
NEXT_PUBLIC_API_URL=/api

# Port (nginx)
PORT=80
